.page-content {
    background-color: #fff;
}

.ccrm-main-header {
    padding: 1rem 0;
}

.ccrm-icon {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 32px;
    text-align: center;
}

.ccrm-icon > i {
    font-size: 12px;
}

.ccrm-counts .card {
    box-shadow: 0 2px 6px 0 #cecece;
    border: none;
}

.ccrm-counts .card .media .media-body > h4 {
    text-transform: uppercase;
    color: #999;
    font-size: 16px;
}

.ccrm-counts .card .media .media-body > p {
    color: #444;
    font-size: 28px;
    font-weight: 500;
    padding-top: 5px;
    line-height: 38px;
}

.ccrm-counts .card .media .media-body > span
{
    color: #E26D5C;
    font-size: 14px;
}

.ccrm-counts .card .media .media-body > a {
    color: #03a9f4;
    font-size: 14px;
}

.ccrm-counts .card .media .media-svg {
    width: 120px;
    height: auto;
}

.ccrm-counts .card .media .media-svg img {
    width: 100%;
}

.bg-light-green {
    background-color: #A6B800;
}

.ccrm-info .card-title {
    font-size: 16px;
}

.ccrm-badge {
    border: 1px solid #EFEFEF;
    padding: 3px 12px;
    display: flex;
    align-items: center;
    border-radius: 500rem;
    margin-bottom: .88rem;
}

.ccrm-badge--green {
    background-color: #00B894;
}

.ccrm-badge--blue {
    background-color: #22A7F0;
}

.ccrm-badge--red {
    background-color: #E26D5C;
}

.ccrm-badge--blue-182 {
    background-color: #29b6f6;
}

.ccrm-badge--green-187 {
    background-color: #66bb6a;
}

.ccrm-badge--yellow {
    background-color: #F7CA18;
}

.ccrm-badge--warning {
    background-color: #FF7043;
}

.ccrm-badge--purple {
    background-color: #4A19AE;
}

.ccrm-badge--green-2 {
    background-color: #27B849;
}

.ccrm-badge--brown {
    background-color: #726635;
}

.ccrm-badge--title {
    font-size: 14px;
    color: #444;
}

.ccrm-badge > span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 3px;
    margin-right: 6px;
}

.card-employee .card-body {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
}

.card-employee__status {
    width: 50%;
    text-align: center;
    position: relative;
    padding: 1.55rem;
}

.card-employee__status:first-child::after {
    border-right: 1px solid rgba(0,0,0,.125);
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
}

.card-employee__status > span {
    font-weight: 600;
    font-size: 24px;
    color: #444;
}

.card-employee__status > p {
    font-size: 14px;
    color: #444;
}

.ccrm-events__item {
    background-color: #F1F1F1;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 1.3rem;
}

.ccrm-events__item-active {
    border: 1px solid transparent;
    background: radial-gradient(circle, rgba(34,167,240,1) 0%, rgba(0,36,60,1) 100%, rgba(34,167,240,1) 100%, rgba(7,0,184,1) 100%, rgba(0,8,81,1) 100%, rgba(253,220,48,1) 100%, rgba(255,255,255,1) 100%, rgba(21,21,21,1) 100%);
}

.ccrm-events__item:last-child {
    margin-bottom: 0;
}

.ccrm-events__item.ccrm-events__item-active > h6 {
    color: #fff;
}

.ccrm-events__item.ccrm-events__item-active > p {
    color: #fff;
}

.ccrm-events__item.ccrm-events__item-active .ccrm-time > span {
    color: #fff;
}

.ccrm-events__item.ccrm-events__item-active .ccrm-time > span > i {
    color: #fff;
}

.ccrm-events__item > h6 {
    font-size: 16px;
    color: #444;
    margin-bottom: 3px;
}

.ccrm-events__item > p {
    color: #777;
    line-height: 24px;
}

.ccrm-time > span {
    color: #777;
}

.ccrm-time > span > i {
    color: #444;
    padding-right: 3px;
}

.ccrm-remind__item {
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.ccrm-remind__item > p {
    color: #777;
    font-size: 14px;
}

.ccrm-remind__desc {
    border-left: 1px solid #eee;
    padding-left: 1.4rem;
    margin-left: 1.4rem;
}

.ccrm-remind__desc > p {
    color: #444;
    line-height: 24px;
}

.ccrm-remind__date {
    font-size: 30px;
    font-weight: 500;
    color: #565656;
    line-height: 1;
}

.ccrm-remind__day {
    font-size: 12px;
    font-weight: 500;
    color: #B1B1B1;
}

.table-striped-blue tbody tr:nth-of-type(even) {
    background-color: rgba(0,191,255,.1);
}

.pb-card {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    box-shadow: 0 2px 6px 0 #ddd;
    overflow: hidden;
}

.project-bid .nav .nav-item a.active {
    background-color: #37474f;
}

.pb-leads.project-bid .nav .nav-item a.active {
    background-color: #ef5350;
}

.running-project.project-bid .nav .nav-item a.active {
    background-color: #26c6da;
}

.nav .nav-item a.nav-link {
    padding: 1rem 2rem;
}

.nav .nav-item .nav-item_title {
    font-size: 14px;
    font-weight: 500;
}

.pb-card-status span {
    margin-right: 6px;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
}

.pb-card-info span {
    font-size: 14px;
    color: #777;
}

.pb-card--pending {
    border-top: 3px solid #F7CA18;
}

.pb-card--listing {
    border-top: 3px solid #2196f3;
}

.running-project.project-bid .pb-card--listing {
    border-top: 3px solid #26c6da;
}

.pb-card--approved {
    border-top: 3px solid #00B894;
}

.pb-card--rejected {
    border-top: 3px solid #E26D5C;
}

.pb-card-status {
    font-size: 14px;
    color: #777;
}

.pb-card--pending .pb-card-status span {
    background-color: #F7CA18;
}

.pb-card--listing .pb-card-status span {
    background-color: #2196f3;
}

.pb-card--approved .pb-card-status span {
    background-color: #00B894;
}

.pb-card--rejected .pb-card-status span {
    background-color: #E26D5C;
}

.pb-card--pending .pb-card-info > span > i {
    color: #F7CA18;
}

.pb-card--listing .pb-card-info > span > i {
    color: #2196f3;
}

.pb-card--approved .pb-card-info > span > i {
    color: #00B894;
}

.pb-card--rejected .pb-card-info > span > i {
    color: #E26D5C;
}

.pb-card-footer h3 {
    color: #666;
}

.st-block {
    text-align: center;
}

.st-bg {
    background-color: #fff;
    border-radius: 500rem;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 2px;
}
.st-bg > span {
    background-color: #656565;
    width: 94px;
    height: 94px;
    text-align: center;
    line-height: 94px;
    border-radius: 500rem;
    color: #fff;
    display: block;
    font-size: 1.6rem;
}

.st-bg--grey {
    border: 1px solid #656565;
}

.st-bg--grey > span {
    background-color: #656565;
}

.st-bg--blue {
    border: 1px solid #22A7F0;
}

.st-bg--blue > span {
    background-color: #22A7F0;
}

.st-bg--red {
    border: 1px solid #E26D5C;
}

.st-bg--red > span {
    background-color: #E26D5C;
}

.st-bg--green {
    border: 1px solid #00B894;
}

.st-bg--green > span {
    background-color: #00B894;
}

.st-bg--yellow {
    border: 1px solid #F7CA18;
}

.st-bg--yellow > span {
    background-color: #F7CA18;
}

.st-bg--grey-light {
    border: 1px solid #E3E3E3;
}

.st-bg--grey-light > span {
    background-color: #E3E3E3;
}

.st-activity {
    padding: .75rem 1.25rem;
}

.bg-gradient-pmt {
    background: radial-gradient(circle, rgba(96,92,226,1) 0%, rgba(0,36,60,1) 100%, rgba(34,167,240,1) 100%, rgba(7,0,184,1) 100%, rgba(0,8,81,1) 100%, rgba(253,220,48,1) 100%, rgba(255,255,255,1) 100%, rgba(21,21,21,1) 100%);
}

.ps-card {
    border-radius: 500rem !important;
    width: 200px;
    height: 200px;
    margin: 0 auto 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bn-news h6 {
    font-size: 14px;
    font-weight: 400;
}

.ps-employee h5 {
    font-weight: 500;
    color: #666;
}

.ps-nav i {
    font-size: 24px;
}

.ps-nav span {
    font-size: 14px;
}

.ps-nav-tabs {
    position: relative;
    border-bottom: 1px solid #eee;
}

.ps-nav-tabs li.nav-item a.nav-link.active {
    border-radius: 0;
}

.ps-nav-tabs li.nav-item a.nav-link.active:after {
    content: '';
    position: absolute;
    right: -27px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 43.5px 0 43.5px 27px;
    border-color: transparent transparent transparent #2196f3;
}

.ps-nav-tabs li.nav-item a.nav-link:after {
    content: url("../../images/bg-angle-right.png");
    position: absolute;
    right: -27px;
    top: 0;
    z-index: 1;
}

.navbar-nav .nav-item .navbar-nav-link {
    font-size: 14px;
}

.navbar {
    box-shadow: 0 2px 6px 0 #d4d4d4;
    border: 0;
}

.dropdown-item {
    font-size: 14px;
}

.btn-transparent-underline .btn {
    color: #666;
    font-size: 14px;
}

.bd-square-block {
    padding: 1rem 0;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ececec;
    color: #777;
    font-size: 16px;
}

.table-card {
    border: 0;
    box-shadow: 0 2px 6px 0 #cecece;
    border-radius: 3px;
}

.table-card .table td, .table th {
    border-top: none;
}

.table-card .table thead th {
    border-bottom: none;
}

.dropdown-menu.dropdown-menu-right.bd-dropdown-btn.show,
.dropdown-menu.dropdown-menu-right.bd-dropdown-icon.show {
    border: 0;
    box-shadow: 0 2px 6px 0 #cecece;
    border-radius: 3px;
}

.w-340 {
    width: 340px;
}

.card-background {
    min-height: 236px;
    box-shadow: none;
    padding-top: 3rem;
    border: none;
}

.border-grey-light {
    border-color: rgba(0,0,0,.125);
}

#line_stacked {
    height: 280px;
}

.btn-anim-1 > i {
    transition: transform 300ms ease-in-out;
}

.btn-anim-1:hover > i {
    transform: rotate(360deg);
    transition: transform 300ms ease-in-out;
}

.icon-4x {
    font-size: 4rem;
}

.bd-maps > iframe {
    width: 100%;
}