.best-ticker {
    display: block;
    width: 100%;
    background: #fff;
    height: 46px !important;
    box-sizing: border-box;
    position: relative;
    line-height: 46px !important;
    overflow: hidden;
    border-radius: 3px !important;
    text-align: auto;
    font-size: 14px;
    border: 1px solid #eee;
}
.best-ticker * {
    box-sizing: border-box;
}
.best-ticker.bn-fixed-top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.best-ticker.bn-fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
.bn-label {
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    font-weight: bold;
    z-index: 3;
    padding: 0 15px;
    white-space: nowrap;
}
.bn-news {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    right: 0;
    overflow: hidden;
    padding: 8px 10px;
}
.bn-news ul {
    display: block;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
}
.bn-news ul li {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-decoration: none;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
    position: absolute;
    width: 100%;
    display: none;
    color: #333;
    padding-right: 20px;
}
.bn-news ul li a {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    padding: 0 10px;
    color: #333;
    position: relative;
    display: block;
    overflow: hidden;
}
.bn-news ul li a:hover {
    color: #069;
}
.bn-loader-text {
    padding: 0 10px;
}
.bn-seperator {
    display: inline-block;
    float: left;
    margin-right: 15px;
    width: 30px;
    height: 46px !important;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.bn-seperator.bn-news-dot {
    margin-right: 0;
}
.bn-seperator.bn-news-dot:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #333;
    border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
}
.bn-prefix {
    color: #d65d7a;
    margin-right: 15px;
    padding-left: 10px;
}
.bn-positive {
    color: #2fd8c6;
    font-weight: bold;
}
.bn-negative {
    color: #e34a42;
    font-weight: bold;
}
.bn-controls {
    width: auto;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bn-controls button {
    width: 40px;
    float: left;
    height: 100%;
    cursor: pointer;
    border: none;
    border-left:1px solid  #eff2f7;
    text-align: center;
    background-color: #fafbfe;
    outline: none;
}
.bn-controls button:hover {
    background-color: #EEE;
}
.bn-arrow {
    margin: 0;
    display: inline-block;
    height: 8px;
    position: relative;
    width: 8px;
    top: -2px;
}
.bn-arrow::after {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    content: '';
    display: inline-block;
    height: 8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 8px;
}
.bn-arrow.bn-next {
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    left: -3px;
}
.bn-arrow.bn-prev {
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 3px;
}
.bn-arrow::after {
    border-color: #999999;
}
.bn-arrow::before {
    background-color: #999999;
}
.bn-play {
    position: relative;
    background: #999999;
    width: 0;
    height: 12px;
    display: inline-block;
    margin-left: -5px;
}
.bn-play::after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #999999;
    border-width: 8px;
    margin-top: -8px;
}
.bn-pause {
    position: relative;
    width: 0;
    height: 14px;
    display: inline-block;
    top: 1px;
    left: -1px;
}
.bn-pause::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    left: 3px;
    background-color: #999999;
}
.bn-pause::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    left: -3px;
    background-color: #999999;
}
.bn-direction-rtl {
    direction: rtl;
}
.bn-direction-rtl .bn-label {
    left: auto;
    right: 0;
}
.bn-direction-rtl .bn-controls {
    right: auto;
    left: 0;
}
.bn-direction-rtl .bn-seperator {
    margin-left: 15px;
    margin-right: 0;
    float: right;
}
.bn-direction-rtl .bn-prefix {
    margin-left: 15px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 10px;
}
.bn-direction-rtl .bn-controls button {
    border-left: none;
    border-right: solid 1px #EEE;
}
.bn-effect-scroll .bn-news ul {
    display: block;
    width: 100%;
    position: relative;

}
.bn-effect-scroll .bn-news ul li {
    display: list-item;
    float: left;
    position: relative;
    width: auto;
    line-height:46px;
    margin-top:2px;
}
.bn-effect-scroll.bn-direction-rtl .bn-news ul li {
    float: right;
}
